{% extends "layout.html" %}

{% block body %}

<h4>Threads</h4>
<br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date created</th>
            <th scope="col">Date modified</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
        <tr>
            <td>{{ loop.index + pagination.skip }}</td>

            <td><a href="{{ url_for('threads_view', thread_id=thread.id) }}">{{ thread.title }}</a></td>
            <td>{{ thread.date_created }}</td>
            <td>{{ thread.date_modified }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{{ pagination.info }}
{{ pagination.links }}

{% endblock %}