{% extends "layout.html" %}

{% block body %}

<h4>Threads</h4>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Date created</th>
            <th scope="col">Date modified</th>
        </tr>
    </thead>
    <tbody>
        {% for thread in threads %}
        <tr>
            <td><a href="{{ thread.id }}">{{ thread.title }}</a></td>
            <td>{{ thread.date_created }}</td>
            <td>{{ thread.date_modified }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}