{% extends "layout.html" %}

{% block body %}
<a href="../">Back to thread listing</a>

<form method="POST" action="{{ url_for('threads_create') }}">
    <h3>Create new thread</h3>
    <table>
        <tr>
            <td>Title </td>
            <td><input type="text" name="title" /></td>
        </tr>
        <tr>
            <td>Message </td>
            <td><input type="text" name="message_text" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Create thread" /></td>
        </tr>
    </table>
</form>
{% endblock %}