{% extends "layout.html" %}

{% block body %}
<h4>{{ thread.title }}</h4>
<p>Date created: {{ thread.date_created }}</p>
<br>

<table class="table">
    {% for msg in messages %}
    <thead>
        <tr>
            <th scope="col">#{{ msg.id }}</th>
            <th scope="col">{{ msg.date_created }}</th>
            <th scope="col">
                {% if msg.username %}
                User: {{ msg.username }}
                {% else %}
                User: DELETED USER
                {% endif %}
            </th>
            <th scope="col">
                {% if msg.date_created != msg.date_modified %}
                Edited
                {% endif %}
            </th>
            {% if (current_user.id == msg.user_id) or (current_user.is_admin()) %}
            <th scope="col">
                <a href="{{ url_for('message_view', message_id=msg.id) }}">Edit message</a>
            </th>
            <th scope="col">
                <a href="{{ url_for('delete_message', message_id=msg.id) }}">Delete message</a>
            </th>
            {% else %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5">{{ msg.message_text }}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>

<h3>Post reply</h3>
<br>
<form method="POST" action="{{ url_for('threads_view', thread_id=thread.id) }}">
    <div class="row">
        <div class="col-2">
            {{ form.message_text.label }}
        </div>
        <div class="col-lg">
            {{ form.message_text(cols="35", rows="10") }}
        </div>
        <div class="col-sm">
            <ul>
                {% for error in form.message_text.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </td>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
{% endblock %}