{% extends "layout.html" %}

{% block body %}
<h4>{{ thread.title }}</h4>
<p>Date created: {{ thread.date_created|datetime }}</p>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Message #</th>
            <th scope="col">Time</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        {% for msg in messages %}
        <tr>
            <td scope="col">#{{ msg[0].id }}</td>
            <td scope="col">{{ msg[0].date_created|datetime }}</td>
            <td scope="col">
                {% if msg.username %}
                {{ msg.username }}
                {% else %}
                DELETED USER
                {% endif %}
            </td>
            <td scope="col">
                {% if msg[0].date_created != msg[0].date_modified %}
                Edited
                {% endif %}
            </td>
            {% if (current_user.id == msg[0].user_id) or (current_user.is_admin()) %}
            <td scope="col">
                <a href="{{ url_for('message_view', message_id=msg[0].id) }}">Edit message</a>
            </td>
            <td scope="col">
                <a href="{{ url_for('delete_message', message_id=msg[0].id) }}">Delete message</a>
            </td>
            {% else %}
            <td scope="col"></td>
            <td scope="col"></td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="5">{{ msg[0].message_text }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{{ pagination.info }}
{{ pagination.links }}
<br>

<h3>Post reply</h3>
<br>
<form method="POST" action="{{ url_for('threads_view', thread_id=thread.id) }}">
    <div class="row">
        <div class="col-2">
            {{ form.message_text.label }}
        </div>
        <div class="col-lg">
            {{ form.message_text(cols="35", rows="10") }}
        </div>
        <div class="col-sm">
            <ul>
                {% for error in form.message_text.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            </td>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>
{% endblock %}