{% extends "layout.html" %}

{% block body %}

<h4>Users</h4>
<br>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Full name</th>
            <th scope="col">Username</th>
            <th scope="col">E-mail address</th>
            <th scope="col"># of threads</th>
            <th scope="col"># of posts</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.threadcount }}</td>
            <td>{{ user.messagecount }}</td>
            {% if (current_user.id == user.id) or (current_user.is_admin()) %}
            <td><a href="{{ url_for('auth_view', user_id=user.id) }}">Modify user</a></td>
            <td><a href="{{ url_for('delete_user', user_id=user.id) }}">Delete user</a></td>
            {% else %}
            <td></td>
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}