{% extends "layout.html" %}

{% block body %}
<h4>Please log in to use this functionality</h4>
<br>

<form method="POST" action="{{ url_for('auth_login') }}">
    <div class="container">
        <div class="row">
            <div class="col-1">
                {{ form.username.label }}
            </div>
            <div class="col-3">
                {{ form.username }}
            </div>
            <div class="col">
                {{ error }}
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                {{ form.password.label }}
            </div>
            <div class="col-3">
                {{ form.password }}
            </div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-1">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
</form>
{% endblock %}