{% extends "layout.html" %}

{% block body %}

<h4>Categories</h4>
<br>

<p><strong>WARNING: Deleting a category deletes all threads in category. Default category can not be deleted</strong>
</p>
<p>Add categories for users under user management</p>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Category name</th>
            <th scope="col"># of threads</th>
            <th scope="col"># of users</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.name }}</td>
            <td>{{ category.threadcount }}</td>
            <td>{{ category.usercount }}</td>
            <td><a href="{{ url_for('categories_view', category_id=category.id) }}">Modify category</a></td>
            {% if category.id != 1 %}
            <td><a href="{{ url_for('delete_category', category_id=category.id) }}">Delete category</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

</table>

<br>

<h5>Add new category</h5>
<form method="POST" action="{{ url_for('categories_index') }}">
    <div class="container">
        <div class="row">
            <div class="col-2">
                {{ form.name.label }}
            </div>
            <div class="col-2">
                {{ form.name }}
            </div>
            <div class="col-sm">
                <ul>
                    {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% if category_name_taken %}
                    <li>Category name must be unique</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}